body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 235, 209);
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
  font-size: 1.5vw;
}

.topnav a:hover {
  background-color: #8b74ad;
  color: white;
}

.a {
  text-align: left;
  font-size: 2vw;
}

.footer {
  position: static;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2%;
  background-color: #333;
  color: white;
  text-align: right;
  font-size: 0.7vw;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

.logo {
  line-height: 0cm;
  font-family: fantasy;
  text-shadow: 1px 1px 2px #8b74ad, 0 0 25px gray, 0 0 5px burlywood;
  font-size: 1vw;
  color: #8b74ad;
  text-align: center;
}

.bar {
  font-size:0.9vw;
}

.booth {
  width: 400px;
  background-color: #ccc;
  border: 10px solid #ddd;
  /*box-shadow: 5px 10px 5px 10px #888888;*/
  margin: 0 auto;
}

.cam-btn {
  display: block;
  margin: 1px 0;
  color: #fff;
  text-decoration: none;
  background-color: #333;
}

.container {
  display: flex;
  justify-content: center;
  background-color: red;
  flex-direction: row;
  color: white;
  width: 50%;
  justify-content: center;
}

.btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

.picbtn {
  background-color: #333;
  color: white;
  padding: 0.1vw 6vw;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.picbtn:hover {
  opacity: 1;
  background-color: #8b74ad;
}

.flexbooth {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: center;
  background-color: burlywood;
  align-items: center;
  text-align: center;
}

.midbox {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  background-color: black;
  align-items: center;
  text-align: center;
}

.columnbox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: brown;
  align-items: center;
  text-align: center;
}

.tip {
	width: 0px;
	height: 0px;
	position: absolute;
	background: transparent;
	border: 10px solid #ccc;
}
.tip-left {
	top: 10px;
	left: -25px;
	border-top-color: transparent;
	border-left-color: transparent;
	border-bottom-color: transparent;  
}

.dialogbox .body {
	position: relative;
	max-width: 100%;
	height: auto;
	margin: 20px 10px;
	padding: 5px;
	background-color: #333;
	border-radius: 3px;
	border: 5px solid #ccc;
}
  
.body .message {
	min-height: 30px;
	border-radius: 3px;
	font-family: Arial;
	font-size: 14px;
	line-height: 1.5;
	color: white;
}

* {
  box-sizing: border-box;
}

#form {
  border-radius: 5px;
  background-color: rgb(221, 203, 179);
  padding: 20px;
}

a {
  text-decoration: none;
}

.alert {
  color: red;
  background-color: rgb(218, 195, 195);
  text-align: center;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: #333;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  text-align: center;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #333;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

input[type=submit]:hover {
  background-color: #8b74ad;
  opacity: 1;
}

.pfl {
  width: 50vw;
  background-color: rgb(221, 203, 179);
}

.commentflexbox {
  border-radius: 5px;
  border: #25323b solid thin;
  display: flex;
  background-color: #FFFFFF;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  height: 170px;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
}

.success {
  color: royalblue;
  background-color: rgb(167, 215, 241)
}